<div class="<%= card_class %>">
  <h5><%= heading_display %></h5>

  <% if special_collections_materials_only? %>
      <%= image_pack_tag('media/psulib_blacklight/images/psu-shield.png',
                      alt: 'Penn State Shield',
                      class: 'mr-3') %>
  <% end %>
  <ul class="<%= list_class %>">
    <% preview_links.map do |item| %>
        <%= render ExternalLinks::LinkComponent.new(item) %>
    <% end %>
    <% if render_view_more? %>
      <span class="collapse" id="<%= data_target %>">
        <% view_more_links.map do |item| %>
            <%= render ExternalLinks::LinkComponent.new(item) %>
        <% end %>
      </span>
    <% end %>
  </ul>

  <%= render ExternalLinks::ViewMoreButtonComponent.new(links: view_more_links, target: data_target) %>
</div>
