<h1>About</h1>

<p>In 2018, the libraries began the process of changing the look and feel of the catalog we've been using for the last 20 years. While not changing the underlying software, we've introduced search filters, made the site mobile-friendly, and added availability view and "I Want It" to search results. <%= link_to 'Check out our guide to searching', page_path('search_tips') %> the new catalog, <%= link_to 'view the project roadmap', 'https://libraries.psu.edu/library-search-roadmap' %>, <%= link_to 'give us feedback', 'https://pennstate.qualtrics.com/jfe/form/SV_3KtRWLNhl2DC1RH' %>, and keep reading to learn more about the new catalog.</p>

<h2>What's in the Catalog</h2>

<p>Books, journals, government documents, newspapers, maps, archival collections, music, videos, conference proceedings, and more. Find them on the shelf, have them sent to you (I Want It!), or access them online. You may have to login through WebAccess or be on a Penn State campus network/VPN in order to access online materials.</p>

<p>Our catalog is built with records from the same software which the Penn State Libraries has been using for their library catalog since 2000. You can still <%= link_to 'visit the Classic Catalog', 'https://cat.libraries.psu.edu' %> and compare your searches. If something works better there, please <%= link_to 'let us know', 'https://pennstate.qualtrics.com/jfe/form/SV_3KtRWLNhl2DC1RH' %>.</p>

<h2>What You Can Find Elsewhere</h2>

<ul>
  <li>Individual articles. Try using <%= link_to 'LionSearch', 'https://psu.summon.serialssolutions.com/' %> or a <%= link_to 'database', 'https://libraries.psu.edu/databases' %> on the subject.</li>
  <li>Books, journal articles, and other materials we don't own. Use our <%= link_to 'Interlibrary Loan services', 'https://libraries.psu.edu/services/interlibrary-loan-services' %> to request materials.</li>
</ul>

<h2>FAQ</h2>

<p>Here are some of the questions we've gotten about our new catalog:</p>

<p><strong>Can I find the same material as the old Cat?</strong> Yes. The records in this catalog and the old Cat are exactly the same.</p>

<p><strong>Is the current/old Cat going away?</strong> Not for a few years. First, we have to add some major features from our <%= link_to 'roadmap', 'https://libraries.psu.edu/library-search-roadmap' %>, like managing holds and your account entirely through the new catalog. We encourage you to use this catalog as much as possible and provide us feedback so we can make it better. Before we retire the old Cat, we'll be working with people whose systems rely on it. If that might be you, please let us know.</p>

<p><strong>Is this replacing Lionsearch/Summon?</strong> No, but you will notice that "view in classic catalog" and "I Want It" links in Lionsearch will soon point here instead of to the old Cat.</p>

<p><strong>Will I have to update my current links to the Cat?</strong> Yes. But the good news is: from single items to saved searches, it's easy to bookmark and link to this catalog! <%= link_to 'Ask a Librarian', 'https://libraries.psu.edu/ask/' %> if you'd like help updating your links and searches.</p>
