<h1>About</h1>

<p>The Library Catalog is the place to search for library materials, including: books, journals, government documents, newspapers, maps, archival collections, music, videos, conference proceedings, and more. Want to learn better ways to search? Check out our <%= link_to 'search tips', 'search_tips' %>.</p>

<p>You can have materials held for you at most locations by clicking "I Want It!" or use links in the record to access them online. Some books are temporarily available for online use through the <%= link_to 'HathiTrust Emergency Temporary Access Service (ETAS)', 'https://libraries.psu.edu/hathitrust-emergency-temporary-access-service-etas' %>. You may need to login through WebAccess or be on a Penn State VPN in order to access online materials. <%= link_to 'Report problems or give us feedback', 'https://libraries.psu.edu/website-feedback' %>.</p>

<h2>What You Can Find Elsewhere</h2>

<ul>
  <li>Individual articles. Try using <%= link_to 'LionSearch', 'https://psu.summon.serialssolutions.com/' %> or a <%= link_to 'database', 'https://libraries.psu.edu/databases' %> on the subject.</li>
  <li>Digital collections. Search or browse our <%= link_to 'digital collections', 'https://digital.libraries.psu.edu/digital/search' %> to find records, maps, images, and more</li>
  <li>Books, journal articles, and other materials we don't own. Use our <%= link_to 'Interlibrary Loan services', 'https://libraries.psu.edu/services/interlibrary-loan-services' %> to request these materials.</li>
</ul>

<h2>FAQ</h2>

<p>Here are some of the questions we've gotten about the Catalog:</p>

<p><strong>Will I have to update my links to the CAT?</strong> Yes, you should update links in your syllabus or website. But the good news is: it's easy to bookmark and link to the Catalog! <%= link_to 'Ask a Librarian', 'https://libraries.psu.edu/ask/' %> if you'd like help updating your links.</p>

<p><strong>Can I find the same material as the CAT?</strong> Yes. The records in the Catalog and the legacy CAT are exactly the same.</p>

<p><strong>Is the legacy CAT going away?</strong> Soon, but first, we have to add some major features from our <%= link_to 'roadmap', 'https://libraries.psu.edu/library-search-roadmap' %>, like browse search and course reserves. If you have a system which relies on the legacy CAT, please let us know so we can make sure it keeps working.</p>

<p><strong>Is this replacing Lionsearch/Summon?</strong> No, but you will notice that "view in classic catalog" and "I Want It" links in Lionsearch point here instead of to the legacy CAT.</p>
