<h1>About</h1>

<p>The Library Catalog is the place to search for library materials, including: books, journals, government documents, newspapers, maps, archival collections, music, videos, conference proceedings, and more. Want to learn better ways to search? Check out our <%= link_to 'search tips', 'search_tips' %>.</p>

<p>You can have materials held for you at most locations by clicking "I Want It!" or use links in the record to access them online. You may need to login through WebAccess or be on a Penn State VPN in order to access online materials. <%= link_to 'Report problems or give us feedback', 'https://libraries.psu.edu/website-feedback' %>.</p>

<h2>What You Can Find Elsewhere</h2>

<ul>
  <li>Individual articles. Try using <%= link_to 'LionSearch', 'https://psu.summon.serialssolutions.com/' %> or a <%= link_to 'database', 'https://libraries.psu.edu/databases' %> on the subject.</li>
  <li>Digital collections. Search or browse our <%= link_to 'digital collections', 'https://digital.libraries.psu.edu/digital/search' %> to find records, maps, images, and more.</li>
  <li>Archival Collections. Search our <%= link_to 'archival collections', 'https://aspace.libraries.psu.edu/' %> find unique historical materials held by our libraries.</li>
  <li>Books, journal articles, and other materials we don't own. Use our <%= link_to 'Interlibrary Loan services', 'https://libraries.psu.edu/services/interlibrary-loan-services' %> to request these materials.</li>
</ul>

<h2>FAQ</h2>

<p>Here are some of the questions we've gotten about the Catalog:</p>

<p><strong>What about the CAT?</strong> Because the CAT was created on aging software, it retired at the end of Fall 2021. <%= link_to 'Learn more about the CAT retiring', 'https://news.psu.edu/story/673627/2021/10/22/academics/libraries-completes-online-catalog-update-will-retire-cat' %>.</p>

<p><strong>Can I find the same material as the CAT?</strong> Yes. The records in the Catalog and the legacy CAT are exactly the same.</p>

<p><strong>Is this replacing Lionsearch/Summon?</strong> No, but you will notice that "view in classic catalog" and "I Want It" links in Lionsearch point here instead of to the legacy CAT.</p>