<h1><%= t('blacklight.application_name') %></h1>
<p class="lead">Read more about <%= link_to "the work we've been doing to improve your search experience", page_path('about') %>.</p>
<p>You can also:</p>
<ul>
  <li><%= link_to 'Learn more', page_path('search_tips') %> about searching the catalog</li>
  <li><%= link_to 'Ask a Librarian', 'https://libraries.psu.edu/ask' %> for help finding materials</li>
  <li><%= link_to 'Send us feedback', 'https://libraries.psu.edu/website-feedback' %> on how we can improve your experience</li>
</ul>

<h2>Other Library Resources</h2>
<ul class="list-inline">
  <li class="list-inline-item"><%= link_to 'LionSearch (Articles)', 'https://psu.summon.serialssolutions.com/' %></li>
  <li class="list-inline-item"><%= link_to 'Databases', 'https://libraries.psu.edu/databases' %></li>
  <li class="list-inline-item"><%= link_to 'E-journals', 'https://sk8es4mc2l.search.serialssolutions.com/ejp/?libHash=SK8ES4MC2L#/search/?searchControl=title&searchType=a_to_z&criteria=A&language=en-US&titleType=JOURNALS' %></li>
  <li class="list-inline-item"><%= link_to 'Digital Collections', 'https://digital.libraries.psu.edu/' %></li>
  <li class="list-inline-item"><%= link_to 'Archival Collections', 'https://aspace.libraries.psu.edu/' %></li>
</ul>
