<% document ||= @document
   id = document[:id] 
   title = document[:title_display_ssm]&.join('/')
   title = title&.split('/')&.first
   access = document[:access_facet]
   %>
<div id="availability-parent-<%= id %>">
  <div class="availability-index" data-keys="<%= id %>" data-title="<%= title %>" data-access="<%= access %>" data-summary-holdings="<%= document[:summary_holdings_struct]&.first %>">
  </div>
  <div class="collapse" id="availability-<%= id %>" aria-expanded="false">
    <div class="card card-body">
      <% unless Settings&.hide_hold_button %>
        <div class="hold-button text-end d-none mb-2">
          <%= link_to 'I Want It', "#{Settings.my_account_url}#{Settings.hold_button_path}#{id}",
                      class: 'btn btn-primary ps-4 pe-4' %>
        </div>
        <div class="no-recalls-button text-end d-none mb-2">
          <%= link_to 'I Want It', "#{Settings.my_account_url}#{Settings.no_recall_button_path}#{id}",
                      class: 'btn btn-primary ps-4 pe-4' %>
        </div>
      <% end %>
      <div class="availability-holdings"></div>
    </div>
  </div>
</div>