<% doc_presenter = index_presenter(document) %>
<%# default partial to display solr document fields in catalog index view -%>
<div class="row">
  <dl class="document-metadata row dl-invert">
    <% doc_presenter.fields_to_render.each do |field_name, field| -%>
        <dt class="blacklight-<%= field_name.parameterize %>
                  <%= 'col-md-3' unless field[:sr_only] %>
                  <%= 'sr-only' if field[:sr_only] %>">
            <%= render_index_field_label document, field: field_name %>
        </dt>
        <dd class="blacklight-<%= field_name.parameterize %>
                  <%= 'col-md-9' unless field[:sr_only] %>
                  <%= 'col-md-12' if field[:sr_only] %>">
          <%= doc_presenter.field_value field %>
        </dd>
    <% end -%>
  </dl>
  <div class="col-md-12" data-etas-oclc="<%= oclc_number document %>"></div>

  <div class="blacklight-availability pb-4">
    <%= render partial: 'index_availability', locals: { document: document } unless Settings&.readonly %>
  </div>
</div>
