<% @page_title = t('blacklight.search.page_title.title', constraints: render_search_to_page_title(params), application_name: application_name) %>

<% content_for(:head) do -%>
  <%= render 'catalog/opensearch_response_metadata', response: @response %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<% content_for(:container_header) do -%>
  <h1 class="sr-only top-content-title"><%= t('blacklight.search.header') %></h1>
<% end %>

<%- unless @response.empty? %>
  <%= render 'search_header' %>
<%- end %>
<div class='float-right'><%= link_to 'Bookmark All on Page', '#', id: 'bookmark-all', class: 'btn btn-primary' %></div>

<%= render 'constraints' %>

<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<%= campus_facet_all_online_links %>

<%- if @response.empty? %>
  <%= render 'zero_results' %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
    <%- if @response.response[:numFound] < 3 %>
      <div class="card bg-light mt-4 mb-3">
        <h3 class="card-header facet-field-heading"><%= t 'blacklight.search.continue_search.title' %></h3>
        <div class="card-body">
          <%= render 'continue_search_in' %>
        </div>
      </div>
    <%- end %>
<%- end %>

<%= render 'results_pagination' %>
