<% @page_title = t('blacklight.search.show.title', document_title: document_show_html_title, application_name: application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
  <div class="row">
    <div class="col-3">
      <% unless @document[:format][0].empty? %>
        <div class="document-thumbnail">
          <span class="fas fa-7x faspsu-<%= @document[:format][0].parameterize %>"></span>
        </div>
      <% end %>
    </div>
    <div class="col-9">
      <%= render partial: 'show_header_default', locals: { document: @document, tag: :h1 } %>
      <%= render partial: 'show_top_fields', locals: { document: @document } %>

    </div>
    <div class="row">
      <div class="col">
        <div id="doc_<%= @document.id.to_s.parameterize %>">
          <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
        </div>
      </div>
    </div>
  </div>

  <% unless @document.more_like_this.empty? %>
    <div class="card">
      <div class="card-header">More Like This</div>
      <div class="card-body">
        <%= render collection: @document.more_like_this, partial: 'show_more_like_this', as: :document %>
      </div>
    </div>
  <% end %>
</div>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
  <!--
       // COinS, for Zotero among others.
       // This document_partial_name(@document) business is not quite right,
       // but has been there for a while.
  -->
  <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
<% end %>
