
<h1>Browse by Call Number</h1>

<h4><%= @shelf_list.list.first.call_number %> to <%= @shelf_list.list.last.call_number %></h4>

<div class="row my-3">
  <div class="col-6">
    <%= render Browse::PageNavigation.new(prev_item: @shelf_list.previous,
                                          next_item: @shelf_list.next,
                                          length: params[:length]) %>
  </div>
  <div class="col-6 text-right">
    <%= render Browse::PageSizeSelector.new(params: params) %>
  </div>
</div>

<table class="table table-striped my-3">
  <thead>
    <tr>
      <th scope="col">Call Number</th>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Publication Info</th>
    </tr>
  </thead>
  <tbody>
    <% @shelf_list.list.map do |doc| %>
      <tr class="<%= doc.nearby? ? 'table-primary' : '' %>">
        <% if doc.nearby? && !doc.exact_match? %>
          <td colspan="4"><%= doc.call_number %></td>
        <% else %>
          <td>
            <a href="/catalog/<%= doc[:id] %>"><%= doc.call_number %></a>
          </td>
          <td><%= doc[:title_display_ssm].first %></td>
          <td><%= doc[:library_facet].first %></td>
          <td><%= doc[:publication_display_ssm].first %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row my-3">
  <div class="col-6">
    <%= render Browse::PageNavigation.new(prev_item: @shelf_list.previous,
                                          next_item: @shelf_list.next,
                                          length: params[:length]) %>
  </div>
  <div class="col-6 text-right">
    <%= render Browse::PageSizeSelector.new(params: params) %>
  </div>
</div>
