<%= form_tag @url, method: @method, class: @classes.join(' '), role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>

  <h1 class="advanced page-header">
    <%= t('blacklight_advanced_search.form.title') %>

    <span class="submit-buttons-top">
      <%= button_tag t('blacklight_advanced_search.form.start_over'), type: 'reset', class: 'btn btn-secondary pull-right advanced-search-start-over' %>
      <%= submit_tag t('blacklight_advanced_search.form.search_btn'), class: 'btn btn-primary advanced-search-submit', id: 'advanced-search-submit-top' %>
    </span>
  </h1>

  <div class="input-criteria">
    <div class="query-criteria mb-4">
      <h3 class="query-criteria-heading">
        <%= t('blacklight_advanced_search.form.query_criteria_heading_html', select_menu: default_operator_menu) %>
      </h3>

      <div id="advanced_search">
        <% search_field_controls.each do |control| %>
            <%= control %>
        <% end %>
      </div>
    </div>

     <% if search_filter_controls? %>
      <div class="limit-criteria">
      <h3 class="limit-criteria-heading"><%= t('blacklight.advanced_search.form.limit_criteria_heading_html') %></h3>

      <div id="advanced_search_facets" class="limit_input">
        <% if blacklight_config.try(:advanced_search).try {|h| h[:form_facet_partial] } %>
          <%= render blacklight_config.advanced_search[:form_facet_partial] %>
        <% else %>
          <%= render 'advanced_search_facets' %>
        <% end %>
      </div>
    </div>
    <% end %>

<!-- original BL code
    <% if search_filter_controls? %>
      <div class="limit-criteria mb-4">
        <h2 class="limit-criteria-heading h3"><%= t('blacklight.advanced_search.form.limit_criteria_heading_html') %></h2>

        <div id="advanced_search_facets" class="limit_input row">
          <div class="advanced-facet-limits panel-group col-md-9 offset-md-3">
            <% search_filter_controls.each do |control| %>
              <%= control %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
       -->

  </div>

   <div class="sort-submit-buttons clearfix">
    <%= render 'advanced_search_submit_btns' %>
  </div>

<% end %>
